Service References/WSProductData/GetProductRequest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns3="http://www.promostandards.org/WSDL/ProductDataService/1.0.0/SharedObjects/" xmlns:ns1="http://www.promostandards.org/WSDL/ProductDataService/1.0.0/" xmlns:ns2="http://www.promostandards.org/WSDL/ProductDataService/1.0.0/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/ProductDataService/1.0.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="SharedProductObjects.xsd" namespace="http://www.promostandards.org/WSDL/ProductDataService/1.0.0/SharedObjects/" />
  <xsd:element name="GetProductRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ns3:wsVersion" />
        <xsd:element ref="ns3:id" />
        <xsd:element minOccurs="0" ref="ns3:password" />
        <xsd:element ref="ns3:localizationCountry" />
        <xsd:element ref="ns3:localizationLanguage" />
        <xsd:element ref="ns3:productId" />
        <xsd:element minOccurs="0" ref="ns3:partId" />
        <xsd:element minOccurs="0" name="colorName">
          <xsd:annotation>
            <xsd:documentation>A specific part color for this product</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:minLength value="1" />
              <xsd:maxLength value="64" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="ApparelSizeArray">
          <xsd:annotation>
            <xsd:documentation>Used for returning specific apparel sizes.  Array of ApparelSize objects.</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" ref="ns3:ApparelSize" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>