Service References/WSProductData/GetProductCloseOutResponse1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns3="http://www.promostandards.org/WSDL/ProductDataService/1.0.0/SharedObjects/" xmlns:ns1="http://www.promostandards.org/WSDL/ProductDataService/1.0.0/" xmlns:ns2="http://www.promostandards.org/WSDL/ProductDataService/1.0.0/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/ProductDataService/1.0.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="SharedProductObjects.xsd" namespace="http://www.promostandards.org/WSDL/ProductDataService/1.0.0/SharedObjects/" />
  <xsd:element name="ProductCloseOut">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ns3:productId" />
        <xsd:element minOccurs="0" ref="ns3:partId" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetProductCloseOutResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="ProductCloseOutArray">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" ref="ns2:ProductCloseOut" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" ref="ns3:ErrorMessage" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>