Service References/WSMediaContent/GetMediaContentResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns1="http://www.promostandards.org/WSDL/MediaService/1.0.0/" xmlns:ns2="http://www.promostandards.org/WSDL/MediaService/1.0.0/SharedObjects/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/MediaService/1.0.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="SharedMediaObjects.xsd" namespace="http://www.promostandards.org/WSDL/MediaService/1.0.0/SharedObjects/" />
  <xsd:element name="MediaContent">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ns2:productId" />
        <xsd:element minOccurs="0" ref="ns2:partId" />
        <xsd:element name="url">
          <xsd:annotation>
            <xsd:documentation>The URL of the media location.  Any valid URL can be returned including prefixes like http and ftp.</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:minLength value="1" />
              <xsd:maxLength value="1024" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element ref="ns2:mediaType" />
        <xsd:element name="ClassTypeArray">
          <xsd:annotation>
            <xsd:documentation>The type of media</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" ref="ns1:ClassType" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="fileSize" type="xsd:double">
          <xsd:annotation>
            <xsd:documentation>The file size</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" name="width" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="height" type="xsd:decimal" />
        <xsd:element minOccurs="0" name="dpi" type="xsd:int" />
        <xsd:element minOccurs="0" name="color">
          <xsd:annotation>
            <xsd:documentation>The color description</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:minLength value="1" />
              <xsd:maxLength value="256" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" name="DecorationArray">
          <xsd:annotation>
            <xsd:documentation>The type of media</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:Decoration" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="LocationArray">
          <xsd:annotation>
            <xsd:documentation>The type of media</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ns1:Location" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" name="description">
          <xsd:annotation>
            <xsd:documentation>Information about the media</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:minLength value="1" />
              <xsd:maxLength value="1024" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="singlePart" type="xsd:boolean">
          <xsd:annotation>
            <xsd:documentation>Identifies whether the partId one to one corresponds with the image</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" ref="ns2:changeTimeStamp" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ClassType">
    <xsd:annotation>
      <xsd:documentation>The type of media</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="classTypeId" type="xsd:int" />
        <xsd:element name="classTypeName">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:minLength value="1" />
              <xsd:maxLength value="64" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Decoration">
    <xsd:annotation>
      <xsd:documentation>The type of media</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="decorationId" type="xsd:int" />
        <xsd:element name="decorationName">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:maxLength value="64" />
              <xsd:minLength value="1" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Location">
    <xsd:annotation>
      <xsd:documentation>The type of media</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="locationId" type="xsd:int" />
        <xsd:element name="locationName">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:minLength value="1" />
              <xsd:maxLength value="64" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMediaContentResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="MediaContentArray">
          <xsd:annotation>
            <xsd:documentation>
              An array of different selections the product is offered and can be provided as a filter to Inventory Service getInventoryLevels.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" ref="ns1:MediaContent" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" ref="ns2:errorMessage" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>