Service References/WSMediaContent/GetMediaDateModifiedResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns1="http://www.promostandards.org/WSDL/MediaService/1.0.0/" xmlns:ns2="http://www.promostandards.org/WSDL/MediaService/1.0.0/SharedObjects/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/MediaService/1.0.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="SharedMediaObjects.xsd" namespace="http://www.promostandards.org/WSDL/MediaService/1.0.0/SharedObjects/" />
  <xsd:element name="MediaDateModified">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ns2:productId" />
        <xsd:element ref="ns2:partId" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetMediaDateModifiedResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="MediaDateModifiedArray">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" ref="ns1:MediaDateModified" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" ref="ns2:errorMessage" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>