Service References/WSPricingAndConfiguration/GetAvailableChargesResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns3="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/SharedObjects/" xmlns:ns1="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/" xmlns:ns2="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/" elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="SharedObjectsPricingAndConfiguration.xsd" namespace="http://www.promostandards.org/WSDL/PricingAndConfiguration/1.0.0/SharedObjects/" />
  <xsd:element name="AvailableCharge">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ns3:chargeId" />
        <xsd:element ref="ns3:chargeName" />
        <xsd:element ref="ns3:chargeDescription" />
        <xsd:element ref="ns3:chargeType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetAvailableChargesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="AvailableChargeArray">
          <xsd:annotation>
            <xsd:documentation>
                            An Array of charges
                        </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" ref="ns2:AvailableCharge" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" ref="ns3:ErrorMessage" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>